/* =========================
        NAVBAR
========================= */

.main-header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;

    background: #ffffff;

    box-shadow: 0 6px 20px rgba(0,0,0,.08);

    transition: .35s;
}

.main-header.scrolled{
    background: #ffffff;
    box-shadow: 0 10px 30px rgba(0,0,0,.10);
}
.navbar-container{

    max-width: 1450px;

    margin: auto;

    height: 90px;

    display: grid;

    grid-template-columns: auto 1fr auto;

    align-items: center;

    gap: 30px;

    padding: 0 35px;
}

/* =========================
        BRAND
========================= */

.brand{

    display:flex;

    align-items:center;

    gap:15px;

    text-decoration:none;
}

.brand-logo{
    width:200px;
    height:auto;
    object-fit:contain;
}

.brand-text{

    display:flex;

    flex-direction:column;

    line-height:1.2;
}

.brand-text strong{

    color:#145239;

    font-size:26px;

    font-weight:700;

}

.brand-text span{

    color:#5F6B65;

    font-size:13px;

}

/* =========================
        MENU
========================= */

.main-navigation{

    display:flex;
    align-items:center;
    justify-content:center;

    gap:55px;

    background:#E7F2EB;   /* hijau muda */

    border:1px solid #CFE3D5;

    padding:18px 50px;

    border-radius:999px;

    box-shadow:0 5px 15px rgba(20,82,57,.06);

}

.nav-link{
    position: relative;
    text-decoration: none;
    color:#20523f;
    font-weight:600;
    transition:.3s;
}


.nav-link:hover{

    color:#0F8A5F;

}

.nav-link.active{

    color: #D4A017;

}

.nav-link::after{

    content:"";

    position:absolute;

    left:50%;
    bottom:-10px;

    transform:translateX(-50%) scaleX(0);

    width:55%;
    height:3px;

    background:#D8A62A;

    border-radius:999px;

    transition:.3s ease;

}


.nav-link:hover::after{

    width:100%;
}

/* Saat active tidak ada garis */
.nav-link.active::after{

    width:0;
}

.nav-link.active{

    color:#D4A017;

    font-weight:700;
}

/* =========================
        LOGIN
========================= */

.navbar-action{

    display:flex;

    justify-content:flex-end;
}

.login-button{

    display:flex;

    align-items:center;

    gap:10px;

    background:#FFD54F;

    color:#145239;

    padding:13px 28px;

    border-radius:40px;

    font-weight:600;

    transition:.3s;

}

.login-button:hover{

    background:#145239;

    color:white;

    transform:translateY(-3px);

}

/* =========================
        SCROLL
========================= */

.main-header.scrolled .brand-text strong,
.main-header.scrolled .brand-text span{

    color:#1E5D41;
}

.main-header.scrolled .nav-link{

    color:#1E5D41;
}

.main-header.scrolled .nav-link.active{

    color:#D4A017 !important;

    font-weight:700;

}

.main-header .nav-link.active{

    color:#D4A017 !important;

    font-weight:700;

}

/* =========================
        MOBILE
========================= */

.mobile-menu-button{

    display:none;

    background:none;

    border:none;

    color:white;

    font-size:28px;

    cursor:pointer;
}

@media(max-width:992px){

.navbar-container{

grid-template-columns:auto auto;

}

.mobile-menu-button{

display:block;

justify-self:end;

}

.main-navigation,
.navbar-action{

display:none;

}

.brand-logo{

width:60px;

}

.brand-text strong{

font-size:22px;

}

}