body{
    margin:0;
    font-family:Inter,sans-serif;
    background:#f4f6f9;
}

.user-wrapper{
    display:flex;
    min-height:100vh;
}

/* =======================
SIDEBAR
========================== */

.sidebar{

    width:280px;

    min-height:100vh;

    background:linear-gradient(
        180deg,
        #f8faf8 0%,
        #dff3e7 12%,
        #0f7d46 30%,
        #0a693d 100%
    );

    color:#fff;

    padding:25px;

    display:flex;

    flex-direction:column;
}

.profile-box{

    text-align:center;

    margin-bottom:25px;
}

.avatar{

    width:110px;
    height:110px;
    border-radius:50%;
    background:#ffd35a;
    color:#0a5c35;
    font-size:55px;
    font-weight:bold;

    display:flex;
    justify-content:center;
    align-items:center;

    margin:auto;
}

.profile-box h3{

    margin-top:20px;
}

.profile-box span{

    color:#ffc93b;
}

.sidebar hr{

    border:none;

    height:1px;

    background:rgba(255,255,255,.25);

    margin:20px 0;
}

.menu-title{

    color:#ffc93b;
    font-weight:bold;
    margin-bottom:15px;
}

.mt{

    margin-top:18px;
}

.sidebar a{

    display:flex;

    align-items:center;

    gap:12px;

    padding:12px 15px;

    margin-bottom:6px;

    border-radius:12px;

    text-decoration:none;

    color:white;
}

.sidebar a:hover{

    background:#ffffff15;
}

.sidebar a.active{

    background:#ffc93b;
    color:#064e3b;
    font-weight:bold;
}

.logout-btn{

    width:100%;

    margin-top:5px;

    padding:12px 15px;

    border:none;

    background:transparent;

    color:white;

    text-align:left;

    cursor:pointer;
}
.sidebar i{

    width:22px;

    text-align:center;
}
/* =====================
CONTENT
====================== */

.content{

    flex:1;
    padding:35px;
}

.card{

    background:white;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.08);
}

.header{

    background:linear-gradient(135deg,#005d35,#0d8d53);

    color:white;

    padding:45px;

    display:flex;

    justify-content:space-between;

    align-items:center;
}

.badge{

    display:inline-block;

    background:#126e45;

    padding:8px 18px;

    border-radius:30px;

    margin-bottom:20px;
}

.header h1{

    font-size:48px;

    margin:0;
}

.header h1 span{

    color:#ffcb43;
}

.date{

    text-align:right;

    font-size:40px;

    font-weight:bold;
}

.date small{

    display:block;

    color:#ffd046;

    font-size:18px;
}

.table-profile{

    padding:40px;
}

.row{

    display:flex;

    justify-content:space-between;

    padding:25px 0;

    border-bottom:1px solid #eee;
}

.left{

    width:45%;

    font-weight:600;

    color:#444;
}

.left i{

    color:#0b7d47;

    margin-right:15px;
}

.right{

    width:50%;

    font-weight:600;
}

.verified{

    background:#0b7d47;

    color:white;

    padding:8px 18px;

    border-radius:25px;
}

.notverified{

    background:red;

    color:white;

    padding:8px 18px;

    border-radius:25px;
}
.sidebar-logo{

    width:170px;

    display:block;

    margin:0 auto 20px;

    border-radius:15px;

}

.form-group{

    margin-bottom:25px;
}

.form-group label{

    display:block;

    margin-bottom:10px;

    font-weight:600;
}

.form-control{

    width:100%;

    padding:14px;

    border:1px solid #ddd;

    border-radius:10px;

    font-size:16px;
}

.btn-save{

    background:#0b7d47;

    color:white;

    border:none;

    padding:14px 25px;

    border-radius:10px;

    cursor:pointer;

    font-size:16px;
}

.btn-save:hover{

    background:#066137;
}